---
/**
 * props:
 * - id      网易云歌曲 ID（必填）
 * - autoplay 是否自动播放（可选，默认 false）
 */
const { songId, autoplay = false } = Astro.props;
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<div id={`aplayer-${songId}`}></div>
<script define:vars={{ songId, autoplay }}>
	document.addEventListener("DOMContentLoaded", async () => {
		const container = document.getElementById(`aplayer-${songId}`);
		if (container && window.APlayer) {
			try {
				const res = await fetch(`/api/song-detail/${songId}`);
				const detail = await res.json();
				const song = detail.songs[0];

				if (song) {
					const response = await fetch(`/api/song-url/${songId}`);
					if (!response.ok) {
						throw new Error("Failed to fetch song URL");
					}
					const data = await response.json();
					const songUrl = data.url;

					if (!songUrl) {
						throw new Error("Song URL not found in response");
					}

					new window.APlayer({
						container: container,
						autoplay: autoplay,
						preload: "auto",
						audio: [
							{
								name: song.name,
								artist: song.ar.map((a) => a.name).join("/"),
								url: songUrl,
								cover: song.al.picUrl,
							},
						],
					});
				} else {
					console.error("Failed to load song details.");
				}
			} catch (error) {
				console.error("Error fetching song details:", error);
			}
		}
	});
</script>
